@page "/"
@page "/{Id}"
@page "/{Id}/{FolderId}"
@using MongoDB.Bson
@inject MongoService _ms;

<div class="mongofs-layout">
    <section class="mongofs-header">
        <h1>MongoFS</h1>
        <span class="subheader">FileSystem to save ‘em all.</span>
    </section>

    <section class="statistics">
        <div class="statistics-header">
            <h2>Statistics</h2>
            <ul>
                <li>Files: 42</li>
                <li>Folders: 14</li>
                <li>Drives: 4</li>
            </ul>
        </div>
        <ul>
            <li>Running on <b>ASP.NET 5</b></li>
            <li>Stored in <b>MongoDB</b></li>
        </ul>
        <span>Crafted with ❤️ by️ <b>Marián Trpkoš</b></span>
    </section>

    <section class="mongofs-drive">
        <DriveDetail Drive="@this.drive" Deleted="@(() => { this.Selected(null); })"/>
    </section>

    <section class="drives">
        <DrivesDetail Selected="@Selected" Active="@this.drive"></DrivesDetail>
    </section>

    <section class="detail">
        <IFileDetail IFile="@this.selected"/>
    </section>

    <section class="files">
        <IFilesDetail Drive="@this.drive" Parent="@this.parent" ParentSelected="@ParentSelected" IFileSelected="@IFileSelected" Selected="@this.selected"/>
    </section>

    @* <a href="#new">Modal</a> *@
    @* <button onclick="window.location.href = '#new'">Trigger modal</button> *@

    <div class="overlay" id="new-drive">
        <form class="overlay-form" @onsubmit="() => { this._ms.CreateDrive(new DriveModel {Name = this.newDriveName, Capacity = this.newDriveCapacity}); this.StateHasChanged(); }">
            <h2>Create new drive</h2>

            <div class="overlay-form-control">
                <label>Name</label>
                <input type="text" placeholder="MajdaDrive" @bind="newDriveName"/>
            </div>

            <div class="overlay-form-control">
                <label>Capacity</label>
                <input type="number" placeholder="500" @bind="newDriveCapacity"/>
            </div>

            <div class="overlay-form-buttons">
                <button class="success" onclick="window.location.hash = ''">Create!</button>
                <button type="button" onclick="window.location.hash = ''">Cancel</button>
            </div>
        </form>

        <button class="overlay-close" onclick="window.location.hash = ''">
            <img src="icons/cross.svg"/>
        </button>
    </div>

    <div class="overlay" id="new-file">
        <button class="overlay-close" onclick="window.location.hash = ''">
            <img src="icons/cross.svg"/>
        </button>

        <form class="overlay-form" @onsubmit="async () => { await this._ms.CreateFile(this.drive.Id, this.parent?.Id ?? ObjectId.Empty, this.newFileName, this.newFileType); this.StateHasChanged(); }">
            <h2>Create new file</h2>

            <div class="overlay-form-control">
                <label>Name</label>
                <input type="text" placeholder="MyFile" @bind="newFileName"/>
            </div>

            <div class="overlay-form-control">
                <label>Type</label>
                @* <input type="text" placeholder="HTML" @bind="newFileType"/> *@
                <select @bind="newFileType">
                    @foreach (var type in StateService.FILE_TYPES)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>

            <div class="overlay-form-buttons">
                <button class="success" onclick="window.location.hash = ''">Create!</button>
                <button type="button" onclick="window.location.hash = ''">Cancel</button>
            </div>
        </form>
    </div>

    <div class="overlay" id="new-folder">
        <button class="overlay-close" onclick="window.location.hash = ''">
            <img src="icons/cross.svg"/>
        </button>

        <form class="overlay-form" @onsubmit="async () => { await this._ms.CreateFolder(this.drive.Id, this.parent?.Id ?? ObjectId.Empty, this.newFolderName); this.StateHasChanged(); }">
            <h2>Create new folder</h2>

            <div class="overlay-form-control">
                <label>Name</label>
                <input type="text" placeholder="MyFolder" @bind="newFolderName"/>
            </div>

            <div class="overlay-form-buttons">
                <button class="success" onclick="window.location.hash = ''">Create!</button>
                <button type="button" onclick="window.location.hash = ''">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string FolderId { get; set; }


    private DriveModel drive = null;
    private FolderModel parent = null;
    private IFileModel selected = null;


    private string newFolderName = "";

    private string newFileName = "";
    private string newFileType = StateService.FILE_TYPES.FirstOrDefault();

    private string newDriveName = "";
    private int newDriveCapacity = 500;

    protected override async Task OnInitializedAsync()
    {
        if (ObjectId.TryParse(this.Id, out ObjectId parsedId))
        {
            this.drive = await this._ms.GetDrive(parsedId);
            this.StateHasChanged();
        }

        if (ObjectId.TryParse(this.FolderId, out ObjectId folder))
        {
            this.parent = await this._ms.GetDriveFolder(this.drive.Id, folder);
            this.StateHasChanged();
        }
    }

    private void Selected(DriveModel drive)
    {
        this.drive = drive;

        this.parent = null;
        this.selected = null;

        Console.WriteLine($"Drive {drive?.Name ?? "EMPTY"} selected!");
        this.StateHasChanged();
    }

    private void ParentSelected(FolderModel parent)
    {
        this.parent = parent;
        this.selected = parent;
        this.StateHasChanged();
    }

    private void IFileSelected(IFileModel ifile)
    {
        this.selected = ifile;
        this.StateHasChanged();
    }

}